<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Story 1</title>
</head>

<body>
    <h1>Profil Saya</h1>

    <img class="prof-pic" src={% static 'media/FR09.jpg' %} alt="foto profil">

    <p>Nama : Anis Farhan Itsnaini</p>
    <p>Tempat Kuliah : Universitas Indonesia, Fakultas Ilmu Komputer</p>
    <p>NPM : 1906285541</p>
    <p>Angkatan : 2019 (Maung)</p>
    <p>Hobi : menunda tugas sampe <i>deadline</i></p>
    <p>Riwayat Pendidikan :</p>

    <table>
        <tr><th>Nama Sekolah</th><th>Tahun</th></tr>
        <tr><td>SD Muhammadiyah Pati</td><td>2007-2013</td></tr>
        <tr><td>SMP N SBBS Sragen</td><td>2013-2016</td></tr>
        <tr><td>SMA Cahaya Rancamaya</td><td>2016-2019</td></tr>
        <tr><td>Universitas Indonesia</td><td>2019-Sekarang</td></tr>
    </table>

    <p>Tentang saya : Saya adalah mahasiswa tahun kedua jurusan Ilmu Komputer Universitas Indonesia yang saat ini sedang mengerjakan tugas mata kuliah Perancangan dan Pemrograman Web</p>
    <br>
    <h3>Media Sosial</h3>
    <h3>
        <a href="https://www.linkedin.com/in/anis-farhan-itsnaini-499014191/">
            <img src={% static 'media/linkedin.jpg' %} alt="LinkedIn">
        </a>
        <a href="https://steamcommunity.com/id/anisfarhanitsnaini">
            <img src={% static 'media/steam.png' %} alt="Steam">
        </a>
        <a href="https://web.facebook.com/farhan.itsnaini.1">
            <img src={% static 'media/facebook.png' %} alt="Facebook">
        </a>
        <a href="https://www.instagram.com/farhansbbs/">
            <img src={% static 'media/instagram.jpg' %} alt="Instagram">
        </a>
    </h3>
</body>

</html>